{% extends 'base.html' %}

{% block content %}

	<div class='content'>
		<h1>Мои новости</h1>
		{% for post in post_list %}
			<div class='article'>
			
			<h1><a href='{% url "post_page" post_pk=post.pk username=post.author.username %}'>{{post.title}}</a></h1>
			<p>{{post.text}}</p>
			<div class='edit-command'>
			<p>{{post.date_published}}</p>
			<p>Автор: {{post.author}}</p>
			{% if post in noted_list %}
			<p>Прочитано</p>
			{% else %}
				<p><a href='{% url "note" post_id=post.pk %}'>Отметить прочитанным</a></p>
			{% endif %}
		</div>
	</div>
		{% endfor %}
	</div>
	
{% endblock content%}